<ng-container *ngIf="manualIocTypeDetail && manualIocTypeStats">
  <h2>{{ manualIocTypeDetail.manualIocType }}</h2>
  <p>Usage count: {{ manualIocTypeStats.usageCount }}</p>
  <br>
  <input placeholder="filter" [(ngModel)]="filterModel">
  <mat-list>
    <ng-container *ngFor="let manualIoc of manualIocTypeDetail.manualIocs">
      <mat-list-item *ngIf="manualIoc.value.startsWith(filterModel)">
        {{ manualIoc.value }}
      </mat-list-item>
    </ng-container>
  </mat-list>
  <button mat-button color="warn" (click)="onDeleteClick()">Delete</button>
  <button mat-button color="primary" [routerLink]="'/update/' + manualIocTypeDetail.manualIocType">Update</button>
</ng-container>
