<h1>Manual ioc type list</h1>
<mat-list *ngIf="manualIocTypes">
  <mat-list-item *ngFor="let type of manualIocTypes" class="clickable"
  [routerLink]="'/detail/' + type.name">{{ type.name }}</mat-list-item>
</mat-list>
<button mat-stroked-button color="primary" routerLink="/create">Create</button>
