<input placeholder="Sql injection here" [(ngModel)]="model">
<button (click)="onBtnClick()">Submit</button>

<ng-container *ngIf="output">
  <h3>Output: </h3>
  <mat-list>
    <mat-list-item *ngFor="let out of output">{{ output }}</mat-list-item>
  </mat-list>
</ng-container>
