<h1>Create new manual ioc type</h1>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>New name</mat-label>
    <input matInput
           placeholder="New ioc name"
           formControlName="newName">
  </mat-form-field>
  <button mat-stroked-button color="primary">Submit</button>
</form>
