<p *ngIf="showError" style="color: red" class="pe-auto">Incorrect credentials</p>
<h1>Log in</h1>
<form (ngSubmit)="onFormSubmit()" [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput
           placeholder="Username"
           formControlName="username">
  </mat-form-field>
  <mat-form-field class="u-width-60 u-margin-bottom-small">
    <input  type="{{ hidePasswd ? 'password' : 'text' }}"
            formControlName="password"
            placeholder="Password"
            matInput>
    <mat-icon matSuffix (click)="hidePasswd = !hidePasswd">{{hidePasswd ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="form.get('password').hasError('required')">
      Fill in your password
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-raised-button
            [disabled]="!form.valid"
            color="primary"
            type="submit">Log in</button>
  </div>

</form>
